@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

section {
  height: 50vh;
  width: 100%;
}

.page-style {
  background-color: rgb(6, 140, 189);
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.centerItems {
  display: flex;
  height: 500px;
  justify-content: center;
}

.inputBox {
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-decoration-color: white;
  color: white;
}

textarea:focus {
  animation: none !important;
}

footer {
  color: #b9a4de;
}

footer a {
  color: white;
}
